In [3]:
from pathlib import Path
from sqlalchemy import create_engine
import pandas as pd

# Create a reference to the file. 
database_path = Path("../data/listings.db")

# Create Engine
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

# Query All Records in the the Database
data = pd.read_sql("SELECT * FROM table_listings", conn)

# Preview the Data
data.head()

,index,id,title,company,location,lat,lon,office,job_type,salary,time_recorded,url
0,0,f34a5ddfce2ecfc9,Sr. Data Scientist,TARGET,"Minneapolis, MN 55403 \n(Downtown West area)",44.967387,-93.289975,in_person,Full-time,"$92,539 - $146,600 a year",7/11/2023 12:45,https://www.indeed.com/rc/clk?jk=f34a5ddfce2ec...
1,1,51866e245e1936ca,Data Scientist,"Servpro Industries, LLC","Gallatin, TN 37066",36.388303,-86.447590,in_person,None,Estimated $105K - $134K a year,7/11/2023 12:45,https://www.indeed.com/rc/clk?jk=51866e245e193...
2,2,0fd6cdbae8e4c20d,Associate Statistical Project Leader,Sanofi,"Bridgewater, NJ 08807",40.594136,-74.626543,in_person,None,Estimated $78.7K - $99.7K a year,7/11/2023 12:45,https://www.indeed.com/pagead/clk?mo=r&ad=-6NY...
3,3,75048d2e7efb415d,Data Scientist,eimagine,"Indianapolis, IN 46260 \n(Nora-Far Northside a...",39.768333,-86.158350,in_person,Full-time,Estimated $88.5K - $112K a year,7/11/2023 12:45,https://www.indeed.com/rc/clk?jk=75048d2e7efb4...
4,4,2f4a08261342394a,Sr Data Analyst,TARGET,"Minneapolis, MN 55403 \n(Downtown West area)",44.967387,-93.289975,in_person,Full-time,"$123,386 - $150,800 a year",7/11/2023 12:45,https://www.indeed.com/rc/clk?jk=2f4a082613423...